header.header
    nav.header__nav
      ul.top__list
        li.topmenu
          a(href="#").top__link Лыжный спорт
            ul.sub-list
              li.submenu
                a(href="#").sub-link Головные уборы
              li.submenu
                a(href="#").sub-link Лыжный костюм
        li.topmenu
          a(href="#").top__link Бег
            ul.sub-list
              li.submenu
                a(href="#").sub-link Бриджи
              li.submenu
                a(href="#").sub-link Легги
              li.submenu
                a(href="#").sub-link Майка борцовка
              li.submenu
                a(href="#").sub-link Смотреть все
        li.topmenu
          a(href="#").top__link Фитнес
            ul.sub-list
              li.submenu
                a(href="#").sub-link Бриджи
              li.submenu
                a(href="#").sub-link Легги
              li.submenu
                a(href="#").sub-link Майка борцовка
              li.submenu
                a(href="#").sub-link Смотреть все
        li.topmenu
          a(href="#").top__link Экстрим
            ul.sub-list
              li.submenu
                a(href="#").sub-link Бриджи
              li.submenu
                a(href="#").sub-link Легги
              li.submenu
                a(href="#").sub-link Майка борцовка
              li.submenu
                a(href="#").sub-link Смотреть все
