section.section3
  section.page-3
    section.page-3__content-info
      section.page-3__content-images
        div.page-3__switch
          button.right.toggle__button
            span.visually-hidden Вправо
          button.left.toggle__button
            span.visually-hidden Влево
        img(src="img/1_photo.png" width="100%").page-3__image-full
        section.page-3__images-min
          div.page-3__image-min
            img(src="img/VZZ_0067.png" width="100%").page-3__image-min--size
          div.page-3__image-min
            img(src="img/VZZ_0247.png" width="100%").page-3__image-min--size
          div.page-3__image-min
            img(src="img/VZZ_0398.png" width="100%").page-3__image-min--size
      section.page-3__content
        h2.page-3__content-title Рашгард с длинным рукавом укороченный
        p.page-3__content-text Изделие обеспечивает терморегуляцию мышц, снимая напряжение. 
        p.page-3__content-text Эластичная ткань тянется во всех направлениях для абсолютной свободы движений.
        p.page-3__content-text Технология LYCRA® XTRA LIFE ™ обеспечивает воздухопроницаемость и комфорт, выводя влагу на поверхность ткани, где она быстро испаряется во время интенсивных тренировок и соревнований;
        p.page-3__content-text Оригинальный принт – принесет удовольствие и сделают вас заметным.
        a(href="#").link-button.link-button--page-3 Смотреть все
