section.page-1
  section.background-page1
    section.page-1__contact
      p.page-1__contact__item.phone +1 (234) 567-89-00
      p.page-1__contact__item.email ghast@email.ru
    section.page-1__content
      img(src="img/woman1.png").page-1__content__img
      section.page-1__content__info
        h1.page-1__content__title Ghast.ru
        p.page-1__content__text Уникальная российская форма для занятий фитнесом. Программа питания и тренировок в подарок.
