section.section2
  section.block-2
    section.block-2__content
      h2.block-2__content-title Ghast.ru
      p.block-2__content-text.block-2__content-text--margin Высокотехнологичная спортивная одежда для любых видов спорта от российского производителя.  
      p.block-2__content-text Бренд зарекомендовал себя на рынке как высококачественный и надежный продукт, полностью соответствующий<br> Вашим потребностям.
      a(href="#").link-button.link-button--block2 Просмотреть каталог
    img(src="img/women-2.jpg" width="100%").block-2__content-img
